<!DOCTYPE html>
<html>
<head>
    <title>Contact List</title>
</head>
<body>

    <br>
    <h1>Add a New User</h1>
    <form method="POST" action="/add" enctype="multipart/form-data">
        <input type="hidden" name="key" value="">
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{ users }}" required>
        {% if error: %}
            <p>{{ error }}</p>
        {% endif %}
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required value="{{ password }}">
        <br>
        <label for="images">Images:</label>
        <input type="file" name="images" accept="image/*" required>
        <br>
        <input type="submit" value="Add">
    </form>
</body>
</html>
